<%- include('header');%>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <button class='btn btn-dark' id="getimg">Get img</button>
                <button class='btn btn-dark' id="btnGetFileDecode">Get File Decode</button>
            </div>
            <div class="col-md-12 text-right">
                <img src="/images/arrow-black.png" alt="" id="arrow">
            </div>
        </div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="result">
                </div>
            </div>
        </div>
    </div>
<%- include('footer');%>