<!DOCTYPE html>
<html lang="en">
    <meta name='viewport' content='width=device-width'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
<head>
  <meta charset="UTF-8">
  <title>Images</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Images</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progressive">Progressive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/responsive-progressive">Responsive Progressive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/decode-promise">Decode Promise</a>
          </li>
        </ul>
      </div>
    </nav>
</div>