<%- include('header');%>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
       <div class="placeholder" data-large="/images/ny.jpg">
        <img src="/images/ny-small.jpg" class="img-small">
        <div style="padding-bottom: 62.6%;"></div>
      </div>     
    </div>
  </div>
</div>

<%- include('footer');%>