<%- include('header');%>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Demo image performance</h1>
                <img src="/images/ny.jpg" class='img-fluid' alt="">
            </div>
        </div>
    </div>
<%- include('footer');%>