<%- include('header');%>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <button class='btn btn-dark' id="btnGetFile">Get Part JPEG</button>
            </div>
            <div class="col-md-12 text-center mt-2">
                <h2><span id='sliceSizeDisplay'>100</span>%</h2>
                <input type="range" min='0' max='100' value='100' id='sliceSize' />
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Baseline</h5>
                <div id="result">
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h5>Progressive</h5>
                <div id="resultProgressive">
                </div>
            </div>
        </div>
    </div>
<%- include('footer');%>